@font-face {
    font-family: digikala;
    src: url("fonts/icons.eot"),
    url("fonts/icons.woff2"),
    url("fonts/icons.woff"),
    url("fonts/icons.ttf");
}

@font-face {
    font-family: yekan;
    font-weight: 100;
    src: url("fonts/yekan.eot"),
    url("fonts/yekan.woff"),
    url("fonts/yekan.ttf");
}

@font-face {
    font-family: yekan;
    font-weight: 400;
    src: url("fonts/yekanRegular.eot"),
    url("fonts/yekanRegular.woff"),
    url("fonts/yekanRegular.ttf");
}

body{

    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: yekan;
}

.main-nav-logo{
    display: block;
    background-image: url("image/logo.svg");
    height: 44px;
    width: 110px;
    background-size: contain;
}