body{
    font-family: yekan;
    position: relative;
}

body a{
     text-decoration: none;
}

body a:hover{
    text-decoration: none;
}


#korona-tabligh{
    background-image: url("image/images.jpg");
    width: 100%;
    vertical-align: middle;
}

.header1{
    background-color: #f0f0f1;
}

#menu{
    width: 40px;
}

.navbar-icon{
    width: 35px;
    height: 3px;
    background-color: #777075;
    margin: 6px 0;

}

.navbar{
    width: 300px;
    height: 100%;
    background-color: white;
    position: absolute;
    right: -100%;
    top: 0;
    z-index: 2;
    transition: 0.3s;
}

#menu:hover{
    cursor: pointer;
}

.change .navbar{
    right: 0px;
}

#logo-digi{
    width: 40px;
}

.mane-list a{
    color: rgba(87, 87, 87, 0.95);
    font-size: 15px;
}

.list-style{
    background-color: #dadada;
    display: none;
}

.change2 .list-style{
    display: block;
}

.change2 .navbar{
    right: 0!important;
}


#image-logo{
    width: 150px;
}

.list-style2{
    display: none;
    color: #eeeeee;
}

.change3 .list-style2{
    display: block;
}